name: Smoke
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  main:
    timeout-minutes: 8
    runs-on: ubuntu-24.04
    steps:
      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.12.0
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run smoke tests
        run: make smoke-sdk
